*.apk
*.classpath
*.iml
*.log
*.project
*.settings
*.sublime-*
*.swp
*~
.DS_Store
.gradle
.idea
.nb-gradle
.textmate
/*.iml
/*.ipr
/*.iws
/Preferencefragment/build
/aFileChooser/build
/app/src/main/assets/
/app/src/main/crashlytics.properties
/app/src/main/res/values/com_crashlytics_export_strings.xml
/bin
/build
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/build
/buildSrc/lib
/buildSrc/out
/crashlytics.properties
/incoming-distributions
/intTestHomeDir
/intellij
/mapping.txt
/out
/payme/build
/performanceTest/build
/performanceTest/lib
/seeds.txt
/src/gen
/subprojects/*/*.iml
/subprojects/*/bin
/subprojects/*/build
/subprojects/*/ide
/subprojects/*/out
/subprojects/docs/src/samples/*/*/build
/unused.txt
/website/build
/website/website.iml
/website/website.ipr
/website/website.iws
build
local.properties
log/
