/app/build
/build
/app/src/gen
*.apk
/app/crashlytics.properties
/app/mapping.txt
/app/seeds.txt
/app/src/main/assets/
/app/src/main/crashlytics.properties
/app/src/main/res/values/com_crashlytics_export_strings.xml
/app/unused.txt
*.iml
*.jks
*~
/Branding
/.idea
/.gradle
/gradlew
/gradlew.bat
*.sh
/gradle