*~
.gradle
/build
/payme/build
/aFileChooser/build
/Preferencefragment/build
local.properties
/src/gen
*.apk
/crashlytics.properties
/mapping.txt
/seeds.txt
/app/src/main/assets/
/app/src/main/crashlytics.properties
/app/src/main/res/values/com_crashlytics_export_strings.xml
/unused.txt
/out
/intTestHomeDir
/subprojects/*/out
/intellij
/buildSrc/lib
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/website/build
/website/website.iml
/website/website.ipr
/website/website.iws
/performanceTest/build
/subprojects/*/ide
/*.iml
/*.ipr
/*.iws
/subprojects/*/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/*.iml
/buildSrc/out
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
.DS_Store
/performanceTest/lib
.textmate
/incoming-distributions
.idea
*.sublime-*
.nb-gradle
log/
*.iml
build
