<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doplgangr.secrecy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".CustomApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/App__name"
        android:theme="@style/CustomMaterialTheme">

        <provider
            android:name=".FileSystem.OurFileProvider"
            android:authorities="com.doplgangr.secrecy.FileSystem.DecryptFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!-- aFileChooser -->
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/Dialog_header__pick_file" />
        <activity
            android:name=".Views.MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:label="" />
        <activity
            android:name="com.doplgangr.secrecy.Views.FileImportActivity"
            android:label="@string/Dialog_header__import_files">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.ChooseFolder"
            android:label="@string/Page_header__choose_folder" />
        <activity
            android:name=".Settings.SettingsActivity_"
            android:label="" />

        <receiver android:name=".OutgoingCallReceiver">
            <intent-filter android:priority="9999">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.doplgangr.secrecy.Views.MainActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/App__name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Premium.PremiumFragment"
            android:label="" />
        <activity
            android:name=".Views.FilePhotoFragment_"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:label=""
            android:parentActivityName=".Views.FilesActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doplgangr.secrecy.Views.FilesActivity_" />
        </activity>
        <activity
            android:name=".Views.FilesActivity_"
            android:label=""
            android:parentActivityName=".Views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doplgangr.secrecy.Views.MainActivity" />
        </activity>
    </application>

</manifest>
