<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doplgangr.secrecy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".CustomApp_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <service
            android:name=".FileSystem.FileObserver"
            android:enabled="true" />
        <service
            android:name=".FileSystem.FileOptionsService_"
            android:enabled="true" />


        <provider
            android:name=".FileSystem.OurFileProvider"
            android:authorities="com.doplgangr.secrecy.FileSystem.DecryptFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!-- aFileChooser -->
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/chooser_title" />
        <activity
            android:name=".Views.MainActivity_"
            android:label="@string/app_name" />
        <activity
            android:name=".Views.FileImportActivity_"
            android:label="@string/import_files">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.ChooseFolder"
            android:label="@string/title_activity_choose_folder" />
        <activity
            android:name=".Settings.SettingsActivity_"
            android:label="@string/title_activity_settings" />

        <receiver android:name=".OutgoingCallReceiver_">
            <intent-filter android:priority="9999">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Views.DummyViews.LauncherActivity_"
            android:excludeFromRecents="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Premium.PremiumActivity_"
            android:label="@string/donate_title" />
        <activity
            android:name=".Views.FilePhotoFragment_"
            android:label="Gallery" />
        <activity
            android:name=".Views.FilesActivity_"
            android:label="@string/app_name"
            android:parentActivityName=".Views.MainActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.doplgangr.secrecy.Views.MainActivity_" />
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="ece21e8448f317038da716131b18b8affb2ac68b" />

        <!-- UserVoice user support activities-->
        <activity android:name="com.uservoice.uservoicesdk.activity.PortalActivity" />
        <activity android:name="com.uservoice.uservoicesdk.activity.ForumActivity" />
        <activity android:name="com.uservoice.uservoicesdk.activity.ArticleActivity" />
        <activity android:name="com.uservoice.uservoicesdk.activity.TopicActivity" />
        <activity
            android:name="com.uservoice.uservoicesdk.activity.ContactActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.uservoice.uservoicesdk.activity.PostIdeaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>

</manifest>
